:root {
  --base-color: #f8f1f7;
  --background-color: #b0e1ff;
  --main-color: #3d3d3d;
  --sub-color: #cccbcb;
  --accent-color: #b699ff;
}

body {
  user-select: none;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileComponents {
  border-radius: 20px;
  background-color: var(--base-color);
  box-shadow:  10px 10px 20px #aaaaaa, -10px -10px 20px var(--background-color);
  position: relative;
  width: 90vw;
  height: 300vh;
  margin: 10vh 0;
}

.profile {
  position: absolute;
  width: 50%;
  height: 70vh;
  top: 5%;
  left: 10%;
}

.profile::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -8%;
  height: 20vh;
  width: 5px;
  border-radius: 10px;
  background: rgb(176,225,255);
  background: linear-gradient(180deg, rgb(152, 199, 228) 0%, rgba(182,153,255,1) 100%);
}

.profile h1 {
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  color: var(--main-color);
}

.profile h2 {
  font-size: 1.5rem;
  position: absolute;
  top: 10%;
  left: 1%;
  color: var(--sub-color);
}

.profile .myNameEn {
  font-size: 1.5rem;
  position: absolute;
  top: 30%;
  left: 45%;
  color: var(--main-color);
}

.profile .myNameJp {
  font-size: 1.8rem;
  position: absolute;
  top: 20%;
  left: 45%;
  color: var(--main-color);
}

.profile-icon {
  border-radius: 50%;
  background: var(--base-color);
  box-shadow:  10px 10px 20px #cccccc,
               -10px -10px 20px var(--base-color);
  display: flex;
  position: absolute;
  top: 25%;
  height: 150px;
  width: 150px;
}

.profile-icon img {
  border-radius: 50%;
  width: 90%;
  height: 90%;
  padding: 5%;
  align-items: center;
  justify-content: center;
}


.profileComponents .contents {
  border-radius: 20px;
  background: #f8f1f7;
  box-shadow: inset 10px 10px 20px #bcb7bc,
              inset -10px -10px 20px #ffffff;
  position: absolute;
  width: 25%;
  height: 30%;
  padding: 5%;
  top: 30%;
  right: 10%;
}
